*{
    font-family: "Yeseva One", sans-serif;
    text-align: center;
}

body{
    background-color: #282a36;
}

.text, li{
    color: #f8f8f2;
    text-align: left;
}

#header{
    text-align: center;
}

.parent{
    width: 750px;
    margin: auto;
}